@charset "utf-8";

/* -----共通----- */
:root {
    --primary-color: #EAE6E1;
    --secondary-color: #E4C1B5;
    --accent-color: #544C40;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style-type: none;
}

.font_ja {
    font-family: "Shippori Mincho", serif;
    font-weight: 600;
    font-style: normal;
}

/* ------ベースレイアウト(コンテンツ)----- */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

main {
    max-width: 950px;
    margin: auto;
}

.title {
    /* width: 80%; */
    font-size: xx-large;
    border-bottom: double var(--accent-color);
    font-weight: bold;
    margin: 1rem 0;
}

.wrapper {
    max-width: 950px;
    margin: auto;
    padding: 0 1.5rem 1rem 1.5rem;
}


/* ------ベースレイアウト(ligin/register)----- */
.header_guest {
    height: 100px;
}

.header_guest h1 {
    font-size: xx-large;
    text-align: center;
    padding-top: 1.5rem;
}


.wrapper_guest {
    max-width: 450px;
    margin: auto;
    padding: 0 1.5rem;
}

.guest_input {
    width: 400px;
}

.guest_register_btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: .5rem;
}

.guest_register_btn a:hover {
    border-bottom: 1px solid #544C40;
}

.guest_btn {
    border: thick double var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 1em;
    padding: .25em 1em;
}

/* -----ボタン------ */
button {
    border: thick double var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 15px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 1em;
    padding: .5em 2em;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: thick double var(--accent-color);
    transition: .5s;

}

.check_btn {
    margin: 2rem auto;
}

.page_btn {
    display: flex;
    justify-content: space-between;
}

.backQestion_btn,
.nextQestion_btn {
    margin: 0 auto;
}

.nextQestion_btn::after {
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    content: '';
}

.nextQestion_btn:hover::after,
.backQestion_btn:hover::before {
    border-top: 2px solid var(--accent-color);
    border-right: 2px solid var(--accent-color);
    transition: .5s;
}

.backQestion_btn::before {
    transform: rotate(225deg);
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    content: '';
}

/* -----ヘッダー----- */
header,
footer {
    background-image: url("../images/back_paper.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    min-height: 15vh;
}



.login,
.register {
    width: 7rem;
    margin: .5rem .5rem 1rem 0;
    padding: .5rem;
    border: thick double var(--primary-color);
    border-radius: 15px;
    font-size: large;
    text-align: center;
    display: block;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.login:hover,
.register:hover,
.main_nav li:hover {
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border: thick double var(--accent-color);
    transition: .5s;
}

.auth_group,
.main_nav {
    display: flex;
    justify-content: center;
}

.nav_start,
.nav_select,
.test_about {
    margin: 15rem;
    margin: 0 2rem;
    padding: .75rem 2rem;
    border: thick double var(--primary-color);
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
    letter-spacing: .3rem;
    display: block;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.nav_start:hover,
.nav_select:hover,
.test_about:hover {
    border: thick double var(--accent-color);
    color: var(--accent-color);
    background-color: var(--secondary-color);
    transition: .5s;
}

.site_top {
    display: flex;
    justify-content: space-between;
}

/* -----フッター----- */

.copyright {
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;

}

/* -----ログイン・新規登録----- */

/* -----メイン----- */
.question-text,
.answers_list {
    display: block;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.question-text p {
    max-width: 90%;
    margin: 0 auto;
}

.answers_list li {
    padding: 1.25px;
}

/* -----カテゴリページ----- */
.category_list {
    background-color: var(--secondary-color);
    padding: .5rem;
}

.category_list li {
    margin: 1rem;
    font-size: 20px;
}

.category_list li a {
    color: var(--accent-color);
}

.category_list li a:hover {
    border-bottom: 1px solid var(--accent-color);
}

/* -----モバイル----- */
@media (max-width:800px) {
    body {
        font-size: 14px;
        color: var(--accent-color);
        margin: 0;
    }

    main {
        max-width: 450px;
        margin: auto;
        padding: 0;
    }

    footer {
        min-height: 20vh;
    }

    .title {
        font-size: large;
        border-bottom: double var(--accent-color);
        font-weight: bold;
        margin: 1rem 0;
    }

    .wrapper {
        max-width: 500px;
        margin: auto;
        padding: 1rem .5rem;
    }

    .site_top {
        display: block;
        text-align: center;
    }

    .site_top h1 {
        font-size: xx-large;
        padding-top: 1.5rem;
    }

    .login,
    .register {
        width: 8rem;
        margin: .5rem .5rem 2rem .5rem;
        padding: .5rem 1rem;
        border: thick double var(--primary-color);
        border-radius: 15px;
        font-size: small;
        display: block;
        color: var(--primary-color);
        background-color: var(--accent-color);
    }

    .nav_start,
    .nav_select,
    .test_about {
        width: 11rem;
        margin: 0 .75rem;
        padding: .75rem 1rem;
        border: thick double var(--primary-color);
        border-radius: 15px;
        font-size: large;
        letter-spacing: .5rem;
        display: block;
        color: var(--primary-color);
        background-color: var(--accent-color);
    }

}