/* -----共通----- */
:root {
    --primary-color: #EAE6E1;
    --secondary-color: #E4C1B5;
    --accent-color: #544C40;
}

a {
    text-decoration: none;
}

.font_ja {
    font-family: "Shippori Mincho", serif;
    font-weight: 600;
    font-style: normal;
}

/* ------レイアウト----- */
body {
    font-size: large;
    margin: 0 1rem;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.title {
    font-size: x-large;
    font-weight: 100;
}

.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
    background-image: url("../images/back_paper.jpg");
    background-repeat: repeat-x;
    background-color: var(--secondary-color);
}

header li {
    border: thick double var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 5px;
    color: var(--primary-color);
    padding: .5rem 2rem;
}

main {
    width: 900px;
    margin: auto;
    padding: 0 1.5rem 2rem 1.5rem;
}

ul {
    list-style-type: none;
    gap: 2.5rem;
}

.main_nav {
    list-style: none;
    display: flex;
    justify-self: center;
}

.main_nav li {
    margin: 0 1rem;
    font-size: 32px;
}

.site_top {
    display: flex;
    justify-content: space-between;
}

.question-text,.answers_list {
    display: block;
    background-color: var(--secondary-color);
    padding: .5rem;
    border-radius: 5px;
}

.answers_list li {
    padding: 1.25px;
}

/* -----ボタン------ */
.check_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 2rem auto;
    padding: .5em 2em;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 1em;
}

.page_btn {
    display: flex;
    justify-content: space-between;

}

.backQestion_btn,
.nextQestion_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    padding: .5em 2em;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 1em;
}


.nextQestion_btn::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    content: '';
}

.backQestion_btn::before {
    transform: rotate(225deg);
    width: 5px;
    height: 5px;
    margin-right: 10px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    content: '';
}