/* -----共通----- */
:root {
    --primary-color: #EAE6E1;
    --secondary-color: #E4C1B5;
    --accent-color: #544C40;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.font_ja {
    font-family: "Shippori Mincho", serif;
    font-weight: 600;
    font-style: normal;
}

/* ------ベースレイアウト(コンテンツ)----- */
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.title {
    font-size: x-large;
    font-weight: 100;
}

.wrapper {
    max-width: 900px;
    margin: auto;
    padding: 0 1.5rem;
}

/* ------ベースレイアウト(ligin/register)----- */
.header_guest {
    height: 100px;
}

.header_guest h1 {
    font-size: xx-large;
    text-align: center;
padding-top: 1.5rem;
}


.wrapper_guest {
    max-width: 450px;
        margin: auto;
        padding: 0 1.5rem;
}

.guest_input {
    width: 400px;
}

.guest_register_btn {
display: flex;
justify-content: space-between;
align-items: flex-end;
margin-top: .5rem;
}

.guest_register_btn a:hover {
    border-bottom: 1px solid #544C40;
}

.guest_btn{
    border: thick double var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        border-radius: 5px;
        background-color: var(--accent-color);
        color: var(--primary-color);
        font-size: 1em;
        padding: .25em 1em;
}


/* -----ヘッダー----- */
header {
    background-image: url("../images/back_paper.jpg");
    background-repeat: repeat-x;
    width: 100%;
}

header li {
    border: thick double var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 5px;
    padding: .5rem 2rem;
}

ul {
    list-style-type: none;
    gap: 2.5rem;
}

.login, .register {
    margin: 2rem 0;
    padding: .5rem 1rem;
    border: thick double var(--primary-color);
    font-size: larger;
    display: block;
    background-color: var(--accent-color);
}
/* -----メイン----- */
main {
    max-width: 900px;
    margin: auto;
    padding: 0 1.5rem 2rem 1.5rem;
}

.main_nav {
    list-style: none;
    display: flex;
    justify-self: center;
    padding-bottom: 1rem;
}

.main_nav li {
    margin: 0 1rem;
    font-size: 32px;
}

.site_top {
    display: flex;
    justify-content: space-between;
}

.question-text{
    display: block;
    background-color: var(--secondary-color);
    padding: .5rem ;
    margin: 1rem;
    border-radius: 5px;
}
 .question-text p {
    max-width: 90%;
    margin: 0 auto;
 }
 
.answers_list {
    display: block;
    background-color: var(--secondary-color);
    padding: .5rem ;
    margin: 1rem;
    border-radius: 5px;
}

.answers_list li {
    padding: 1.25px;
}

/* -----ボタン------ */
button {
    border: thick double var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 1em;
    padding: .5em 2em;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: thick double var(--accent-color);
    transition: .5s;

}

.check_btn {
    margin: 2rem auto;
}

.page_btn {
    display: flex;
    justify-content: space-between;
}

.backQestion_btn,
.nextQestion_btn {
    margin: 0 auto;
}

.nextQestion_btn::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    content: '';
}

.nextQestion_btn:hover::after,
.backQestion_btn:hover::before {
    border-top: 2px solid var(--accent-color);
    border-right: 2px solid var(--accent-color);
    transition: .5s;
}

.backQestion_btn::before {
    transform: rotate(225deg);
    width: 5px;
    height: 5px;
    margin-right: 10px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    content: '';
}

.test {
    color: red;
}
